@import '../node_modules/@angular/material/theming';

@import './app/shared/navbar/navbar-theme';
@import './app/shared/footer/footer-theme';

// Styles for the app that are based on the current theme.
@mixin material-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .app-background {
    background: mat-color($background, background);
  }

  .primary-header {
    background: mat-color($primary);

    h1 {
      color: mat-color($primary, default-contrast);
    }
  }

  .footer {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  @include nav-bar-theme($theme);
  @include footer-theme($theme);
}
